.header {
    min-height: 40px;
    text-align: center;
    margin-top: -30px;

}
.content{
    background-color: beige;
    min-height: 500px;
    display: block;
    overflow: auto;
    background-attachment: fixed;

}
.footer{
    background-color: cadetblue;
    min-height: 50px;
}
.container{
    width: 80%;
    margin: 0 auto;
}


.menu ul{
padding: 0;
}
.menu ul li{
    display: inline-block;
    position: relative;
}
.menu ul li a{
    padding: 10px 20px;
    text-decoration: none;
    float: right;
}
p {
    text-indent: 50px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.thumbnail{
    background-color: wheat;
    text-align: center;
    padding: 10px;
    width: 225px;
    margin: 10px;
    float: left;
    display: block;
}
.thumbnail img{
    width: 100%;
}

.jumbotron{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    text-align: center;
    color: wheat;
    background-color: grey;
}

h1 {
    text-align: center;
}
body{
    background-color: azure;

}
button{
    border: 3px solid blue;
    border-radius: 20%;
    background-color:wheat;
    width: auto;
    padding: 0 auto;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif
}

hr{
    border: 4px solid brown;
}
